<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:websocket="http://www.springframework.org/schema/websocket"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                  http://www.springframework.org/schema/beans/spring-beans.xsd
                  http://www.springframework.org/schema/context
                  http://www.springframework.org/schema/context/spring-context-4.2.xsd
                  http://www.springframework.org/schema/aop
                  http://www.springframework.org/schema/aop/spring-aop-4.2.xsd
                  http://www.springframework.org/schema/tx
                  http://www.springframework.org/schema/tx/spring-tx-4.2.xsd
                  http://www.springframework.org/schema/websocket
                  http://www.springframework.org/schema/websocket/spring-websocket.xsd">


   <context:component-scan base-package="com.coma.app.biz.admin,
                                          com.coma.app.biz.battle,
                                          com.coma.app.biz.battle_record,
                                          com.coma.app.biz.board,
                                          com.coma.app.biz.common,
                                          com.coma.app.biz.crew,
                                          com.coma.app.biz.crew_board,
                                          com.coma.app.biz.favorite,
                                          com.coma.app.biz.grade,
                                          com.coma.app.biz.gym,
                                          com.coma.app.biz.member,
                                          com.coma.app.biz.product,
                                          com.coma.app.biz.reply,
                                          com.coma.app.biz.reservation,
                                          com.coma.app.view.annotation"/>



   <bean class="org.apache.commons.dbcp.BasicDataSource" id="ds" destroy-method="close">
      <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
      <property name="url" value="jdbc:mysql://localhost:3306/COMA"/>
      <property name="username" value="root"/>
      <property name="password" value="1234"/>
   </bean>

   <!-- FTP 서버를 클래스 Bean 을 추가합니다. -->
   <bean id="ftpClient" class="org.apache.commons.net.ftp.FTPClient">
      <property name="defaultPort" value="21"/>
   </bean>

   <bean class="org.springframework.jdbc.core.JdbcTemplate" id="jdbcTemplate">
      <property name="dataSource" ref="ds"/>
   </bean>

   <bean class="org.springframework.jdbc.datasource.DataSourceTransactionManager" id="txManager">
      <property name="dataSource" ref="ds"/>
   </bean>

   <aop:aspectj-autoproxy/>
   <!--<bean id="loginAspect" class="com.coma.app.view.member.LoginAspect" />
   <bean id="loginCheckImpl" class="com.coma.app.view.annotation.LoginCheckImpl" />
-->

   <!-- 트랜잭션 어드바이스 정의 -->
   <tx:advice transaction-manager="txManager" id="txAdvice">
      <tx:attributes>
         <tx:method name="select*" read-only="true"/>
         <tx:method name="*"/>
      </tx:attributes>
   </tx:advice>

   <!-- AOP 설정 -->
   <aop:config>
      <!-- 첫 번째 포인트컷 정의: ReservationInsertService.insert 메서드에 적용 -->
      <aop:pointcut id="txPointcut" expression="execution(* com.coma.app.biz.reservation.ReservationInsertService.insert(..))"/>
      <aop:advisor advice-ref="txAdvice" pointcut-ref="txPointcut"/>
   </aop:config>

   <aop:config>
      <!-- 두 번째 포인트컷 정의: CrewManagementService.updateBattleRecord 메서드에 적용 -->
      <aop:pointcut id="updatePointcut" expression="execution(* com.coma.app.biz.admin.CrewManagementService.updateBattleRecord(..))"/>
      <aop:advisor advice-ref="txAdvice" pointcut-ref="updatePointcut"/>
   </aop:config>


   <bean id="sqlSession" class="org.mybatis.spring.SqlSessionFactoryBean">
      <property name="dataSource" ref="ds"/>
      <property name="configLocation" value="classpath:sql-map-config.xml"/>
   </bean>


   <bean id="mybatis" class="org.mybatis.spring.SqlSessionTemplate">
      <constructor-arg ref="sqlSession"/>
   </bean>
    
</beans>